<div>
  <h3>Your Notes</h3>
  <ul id="all_notes">
    <% notes.each(function(note){ %>
      <li class="all_notes"> 
        <a href="#notes/<%= note.escape('id') %>"><%= note.escape('title') %></a>
        <button class="delete btn btn-small" data-id="<%= note.escape('id') %>">Delete Note</button>
      </li>
    <% }) %>
  </ul>

  <a href="#notes/new" class="btn">Create New Note</a>
</div>