<div>
  <input type="text" placeholder="search" name="search" id="shared_search_box" >
</div>
<div>
  <h3>Shared Notes</h3>
  <ul id="all_notes">
    <% notes.each(function(note){ %>
      <li class="all_notes" data-id="<%= note.id %>" data-body="<%= note.escape('body') %>"> 
       <a href="#notes/<%= note.escape('id') %>" style="text-decoration:none;"><%= note.escape('title').slice(0,20) %></a>
       </li>
    <% }) %>
  </ul>

  <div id="trash">Trash</div>
</div>

<script type="text/javascript">
  $(function(){
    $('li.all_notes').draggable({revert: true});
  })
</script>