/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui
 *= require jquery.ui.tabs
 */
.footer{
  margin-left: 43%;
  margin-right: 43%;
  position: absolute;
  bottom: 0;
  font-size: 10px;
  color: #BDC3C7;
}
.markedDown{
  border: none;
  background-color: #ECF0F1;
  box-shadow: none;
}
.logo{
  float: left;
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
  color: #3498DB;
}
.header_button{
  float: right;
  margin: 5px;
}
#trash{
  border: solid black 1px;
  border-radius: 3px;
  height: 10%;
  text-align: center;
  margin: 1%;
  height: 40px;
  background-color: #34495E;
  color: #ECF0F1;
}
#shareForm{
  float:right;
}
.share_box{
  border: none;
  background-color: #ECF0F1;
  box-shadow: none;
}
button.delete{
  float: right;
  clear: right;
}
ul.all_notes{

}
li.all_notes{
  padding: 2px;
  margin: 10px;
  border: solid 1px;
  height: 26px;
  border-radius: 3px;
  background-color: #BDC3C7;
  text-align: center;
  list-style: none;
  border-color: black;
}
#note_title{
  width: 80%;
  border: none;
  background-color: #ECF0F1;
  box-shadow: none;
  border-bottom: solid 1px #BDC3C7;
  border-radius: 0px;
  width: 80%;
  margin: 5px;
  font-size: 24px;
}
#note_body{
  width: 80%;
  border: none;
  background-color: #ECF0F1;
  box-shadow: none;
  margin: 5px;
}
.heading{
  background-color: #BDC3C7;
}
#greeting{
  margin: 5px;
  float: left;
}
#leftPane{
  float: left;
  clear: left;
  width: 30%;
  margin: 10px;
  border-right: solid black 1px;
}
#rightPane{
  background-color: #ECF0F1;
  float: right;
  clear: right;
  width: 65%;
  margin: 10px;
  border-radius: 5px;
}
